*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    background-color: cadetblue;
}

.header-inner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 30vw;
}

.btn{
    padding: 5px 10px;
    border-radius: 5px;
    background-color: cornflowerblue;
    border: none;
    color: white;
    width: 10vw;
    cursor: pointer;
}

.btn:hover{
    background-color: #004bd3;
    transition: .5s
    
}


/* .form{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: cadetblue;
    padding: 5px;
    display: flex;
    align-items: center;
    height: 50px;
    backdrop-filter: blur(18px);
    /* width: 80vw; */
